<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Hakkımızda</h1>
            </div>
        </div>
        <div class="content about-content text-center">
            <!-- Added 'text-center' class -->
            <div class="row justify-content-center">
                <!-- Added 'justify-content-center' class -->
                <div class="col-md-6">
                    <p>𝓤𝓵𝓾𝓭𝓪𝓰̆ Oto ailesi olarak 1987 yılından itibaren 2.El Araç Satışı üzerine faaliyet göstermekteyiz. Bilgi ve deneyimleri ile geliştirdiği işletme faaliyetleri, dürüst, ilkeli ve güvenilir hizmet anlayışı ile şirketi günümüze kadar taşımayı başarmıştır. Günümüz teknolojisi ve bilgi çağında gelişmeleri yakından takip etmiş ve bu gelişmeleri kısa zamanda uygulamaya başlamıştır. Şirketimiz bu amaçla gelişen teknolojiye ayak uydurmak ve müşterilerimize en iyi amacı sunmak amacıyla çalışmalarına hızla devam etmektedir.&nbsp;</p>
                    <p><strong>VİZYONUMUZ</strong></p>
                    <p>Beklentilerin üzerinde yaratıcı bir hizmet sağlamak, faaliyette bulunduğumuz sektörde müşteri memnuniyetini esas alarak Türkiye’nin en çok tercih edilen şirketi olmak ve başarılarımızı sürekli kılarken kaliteli, dürüst, hizmet anlayışımızı geleceğe taşımaktır.</p>
                    <p><strong>MİSYONUMUZ</strong></p>
                    <p>Araç satışından aracın sahibine teslimine kadar güvenilir ve kaliteli hizmet sunarak çalışanlarımız ile yarattığımız güç birliği ile müşteri memnuniyetini sağlarken müşterilerine ve çalışanlarına karşı sorumlu, çözüm üreten ve doğru bilgi veren daima mükemmelliği esas alarak faaliyetlerimizi sürdürmekteyiz.</p>
                </div>
            </div>
        </div>
    </div>
</section>